body {
  background-image: url(../img/fondoweb.jpg);
  margin: 0%;
  padding: 0%;
}

@font-face {
  font-family: "Qatar";
  src: url(../fonts/Qatar2022Arabic-Heavy.ttf);
}

a {
  text-decoration: none;
}

h1 {
  font-family: "Qatar";
  color: white;
  text-align: center;
  font-size: 100px;
}

h2 {
  font-family: "Qatar";
  color: white;
  text-align: center;
  font-size: 50px;
  text-decoration: none;
}

p {
  font-family: "Qatar";
  text-align: center;
  color: black;
  font-weight: bold;
  font-size: 30px;
  margin-top: 1.2em;
}

.tituloPrincipal {
  animation: maquina 8s infinite alternate;
}

.Bandera {
  width: 40px;
}

.Repechaje {
  font-size: 25px;
}

li {
  list-style-type: none;
  font-family: "Qatar";
  font-size: 32px;
}

#ContainerPaises {
  border: 10px;
  overflow: hidden;
  padding: 50px;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  font-family: "Qatar";
  color: black;
}

.Grupos {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Page Grupos */
h3 {
  font-family: "Qatar";
  font-size: 45px;
  color: green;
  text-align: center;
}

h4 {
  font-family: "Qatar";
  font-size: 40px;
  text-align: center;
  color: white;
}

.grupos-grupos {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  text-align: center;
  margin: 15px;
  font-family: "Qatar";
  color: black;
}

iframe {
  margin-left: 35%;
}

/* Page Estadios*/
.Estadio {
  display: flex;
  justify-content: center;
}

/* page Ediciones Anteriores */
.imgMundiales { width: 100%}


  /* page ediciones anteriores */

  table {
    width: 100%;
    border: 2px solid black;
    background-color: blue;
    font-family: "Qatar";
    color: white;
    font-size: 20px;
    text-align: center;
    table-layout: fixed;
    border-collapse: collapse; 
  }

  

  /* page fixture */

  .fixtureGrupos {
      text-align: center;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      align-items: center;
  }

  .Octavos {
      text-align: center;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
  }

  .Cuartos {
      text-align: center;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
  }

  .Semifinal {
      text-align: center;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(1);
  }

  /* mediaqueries */
  @media screen and (max-width: 420px) {
      h1 {
          font-size: 30px;
      }

      h2 {
          font-size: 25px;
      }

      p {
          font-size: 15px;
      }

      li {
          font-size: 16px;
      }

      #ContainerPaises {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
      }

      .Repechaje {
          font-size: 15px;
      }

      .Bandera {
          width: 20px;
      }

      .Grupos {
          display: flex;
          justify-content: center;
          align-items: center;
      }

      h3 {
          font-size: 25px;
      }

      h4 {
          font-size: 20px;
      }

      .grupos-grupos {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          grid-template-rows: repeat(4, 1fr);
          margin: 15px;
      }

      iframe {
          margin-left: 0%;
          box-sizing: border-box;
      }

      .titleGrupos {
          font-size: 20px;
      }

      .subtitleFechas {
          font-size: 15px;
      }

      .fixtureGrupos {
          display: grid;
          grid-template-columns: repeat(1, 1fr);
      }

      .Estadio {
          width: 420px;
          margin-left: 0;
      }

      .imgMundiales {
          width: 420px;
          height: 200px;
      }

      .Posiciones {
          width: 100%;
      }

      th {
          font-size: 10px;
      }

      td {
          font-size: 12px;
      }
  }

  @media screen and (max-width: 800px) {
      h1 {
          font-size: 40px;
      }

      #Container {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          grid-template-rows: repeat(2, 1fr);
      }

      .grupos-grupos {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          grid-template-rows: repeat(4, 1fr);
          margin: 15px;
      }

      iframe {
          margin-left: 20%;
      }

      h3 {
          font-size: 35px;
      }

      h4 {
          font-size: 30px;
      }

      .titleGrupos {
          font-size: 25px;
      }

      .subtitleFechas {
          font-size: 20px;
      }

      .fixtureGrupos {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
      }

      .imgMundiales {
          width: 100%;
          height: 20%;
      }

      .Posiciones {
          width: 100%;
      }

      th {
          font-size: 12px;
      }

      td {
          font-size: 15px;
      }

      .Grupos {
          display: flex;
          justify-content: center;
          align-items: center;
      }
  }

  @media screen and (max-width: 800px) and (max-width: 1280px) {
      #Container {
          display: grid;
          grid-template-columns: repeat(4, 1fr);
      }
  }

  @media screen and (max-width: 800px) {
      .video {
          display: flex;
          justify-content: center;
      }
  }

  @keyframes maquina {
      from {
          width: 100%;
      }

      to {
          width: 50%;
          } 
        }