.header {
  box-shadow: 0 5px 10px -5px white; }

.footer {
  background-color: black;
  font-family: "Qatar";
  box-shadow: 0 5px 10px -5px white; }
  .footer p {
    color: white; }

@font-face {
  font-family: "Qatar";
  src: url(../fonts/Qatar2022Arabic-Heavy.ttf); }

body {
  background-image: url(../img/fondoweb.jpg);
  margin: 0%;
  padding: 0%; }

a {
  text-decoration: none; }

h1 {
  font-family: "Qatar";
  color: white;
  text-align: center;
  font-size: 100px; }

h2 {
  font-family: "Qatar";
  color: white;
  text-align: center;
  font-size: 50px;
  text-decoration: none; }

p {
  font-family: "Qatar";
  text-align: center;
  color: black;
  font-weight: bold;
  font-size: 30px;
  margin-top: 1.2em; }

.tituloPrincipal {
  animation: maquina 8s infinite alternate; }

.Bandera {
  width: 40px; }

.Repechaje {
  font-size: 25px; }

li {
  list-style-type: none;
  font-family: "Qatar";
  font-size: 32px; }

#ContainerPaises {
  border: 10px;
  overflow: hidden;
  padding: 50px;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  font-family: "Qatar";
  color: black; }

.Grupos {
  display: flex;
  justify-content: center;
  align-items: center; }

h3 {
  font-family: "Qatar";
  font-size: 45px;
  color: green;
  text-align: center; }

h4 {
  font-family: "Qatar";
  font-size: 40px;
  text-align: center;
  color: white; }

.grupos-grupos {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  text-align: center;
  margin: 15px;
  font-family: "Qatar";
  color: black; }

iframe {
  margin-left: 35%; }

.Estadio {
  display: flex;
  justify-content: center; }

.imgMundiales table {
  width: 100%;
  border: 2px solid black;
  background-color: blue;
  font-family: "Qatar";
  color: white;
  font-size: 20px;
  text-align: center;
  table-layout: fixed;
  border-collapse: collapse; }

.imgMundiales .fixtureGrupos {
  text-align: center;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center; }

.imgMundiales .Octavos {
  text-align: center;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr); }

.imgMundiales .Cuartos {
  text-align: center;
  display: grid;
  grid-template-columns: repeat(2, 1fr); }

.imgMundiales .Semifinal {
  text-align: center;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1); }

@media screen and (max-width: 420px) {
  .imgMundiales h1 {
    font-size: 30px; }
  .imgMundiales h2 {
    font-size: 25px; }
  .imgMundiales p {
    font-size: 15px; }
  .imgMundiales li {
    font-size: 16px; }
  .imgMundiales #ContainerPaises {
    display: grid;
    grid-template-columns: repeat(2, 1fr); }
  .imgMundiales .Repechaje {
    font-size: 15px; }
  .imgMundiales .Bandera {
    width: 20px; }
  .imgMundiales .Grupos {
    display: flex;
    justify-content: center;
    align-items: center; }
  .imgMundiales h3 {
    font-size: 25px; }
  .imgMundiales h4 {
    font-size: 20px; }
  .imgMundiales .grupos-grupos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    margin: 15px; }
  .imgMundiales iframe {
    margin-left: 0%;
    box-sizing: border-box; }
  .imgMundiales .titleGrupos {
    font-size: 20px; }
  .imgMundiales .subtitleFechas {
    font-size: 15px; }
  .imgMundiales .fixtureGrupos {
    display: grid;
    grid-template-columns: repeat(1, 1fr); }
  .imgMundiales .Estadio {
    width: 420px;
    margin-left: 0; }
  .imgMundiales .imgMundiales {
    width: 420px;
    height: 200px; }
  .imgMundiales .Posiciones {
    width: 100%; }
  .imgMundiales th {
    font-size: 10px; }
  .imgMundiales td {
    font-size: 12px; } }

@media screen and (max-width: 800px) {
  .imgMundiales h1 {
    font-size: 40px; }
  .imgMundiales #Container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr); }
  .imgMundiales .grupos-grupos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    margin: 15px; }
  .imgMundiales iframe {
    margin-left: 20%; }
  .imgMundiales h3 {
    font-size: 35px; }
  .imgMundiales h4 {
    font-size: 30px; }
  .imgMundiales .titleGrupos {
    font-size: 25px; }
  .imgMundiales .subtitleFechas {
    font-size: 20px; }
  .imgMundiales .fixtureGrupos {
    display: grid;
    grid-template-columns: repeat(2, 1fr); }
  .imgMundiales .imgMundiales {
    width: 100%;
    height: 20%; }
  .imgMundiales .Posiciones {
    width: 100%; }
  .imgMundiales th {
    font-size: 12px; }
  .imgMundiales td {
    font-size: 15px; }
  .imgMundiales .Grupos {
    display: flex;
    justify-content: center;
    align-items: center; }
  .imgMundiales .video {
    display: flex;
    justify-content: center; } }

@media screen and (max-width: 800px) and (max-width: 1280px) {
  .imgMundiales #Container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); } }
