@mixin flex ($dis, $just, $align) {
    display: $dis;
    justify-content: $just;
    align-items: $align;
}

@mixin pantallas($breakpoint) {
    @media screen and (max-width: map-get($breakpoints, $breakpoint)) {
        @content;
    }
}
