@import "variables";
@import "header";
@import "footer";
@import "mixins";

@function sizes ($sizes-name) {
    @return map-get($sizes, $sizes-name)
}

@font-face {
    font-family: "Qatar";
    src: url(../fonts/Qatar2022Arabic-Heavy.ttf);
}


body {
    margin: 0%;
    padding: 0%;

    background: {
        image: url(../img/fondoweb.jpg);
    }

    a {
        text-decoration: none;
    }

    h1 {
        font-family: $font-principal;
        color: white;
        text-align: center;
        font-size: sizes(xl);
    @include pantallas(sm) {
        font-size: 2rem;};
        @include pantallas (md) {
            font-size: 2rem;
        }
    }

    h2 {
        font-family: $font-principal;
        color: white;
        text-align: center;
        font-size: sizes(l);
        text-decoration: none;
        @include pantallas (sm) {font-size: 2.5rem;};
        @include pantallas (md) {font-size: 3rem;}
    }

    p {
        font-family: $font-principal;
        text-align: center;
        color: black;
        font-weight: bold;
        font-size: sizes(parrafo);
        margin-top: 20px;

    }

}

.Bandera {
    width: 40px;

}

.Participantes {
    border: 10px;
    overflow: hidden;
    padding: 50px;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    font-family: $font-principal;
    color: black;
    font-size: sizes(parrafo);
    list-style: none;
    
    @include pantallas(sm) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    grid-template-rows:repeat(16, 1fr);
font-size: 1.3rem };

        @include pantallas(md) {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(11, 1fr);
        };
        @include pantallas(lg) {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: repeat(8,1fr);
        };
        @include pantallas(xxl) {
            display: grid;
            grid-template-columns: repeat (8, 1fr);
            grid-template-rows: repeat(4, 1fr);
        }
    
}

.grupos { display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 1em;

    @include pantallas (sm) {
        display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(8, 1fr);
justify-content: center;
}

@include pantallas (md) {display: grid;
grid-template-columns:repeat(3, 1fr) ;}
}
.fixture {width: 100%;
height: 100vh;}
.imgMundiales {@include flex (flex, center, center)}

h3 {
    font-family: $font-principal;
    font-size: sizes(m);
    color: green;
    text-align: center;

}

h4 {
    font-family: $font-principal;
    font-size: sizes(s);
    text-align: center;
    color: white;
}

.grupos-grupos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    text-align: center;
    margin: 15px;
    font-family: $font-principal;
    color: black;
    @include pantallas (sm) { display: grid;
    grid-template-columns: repeat(2, 1fr);
grid-template-rows: repeat(4, 1fr);}
@include pantallas (md) { display: grid;
    grid-template-columns: repeat(2, 1fr);
grid-template-rows: repeat(4, 1fr);}
}

.grupos-grupos ul li {
    list-style: none;
    font-family: $font-principal;
    font-size: sizes(parrafo);
}

.Video {
    @include flex (flex, center, center)
}

.Estadios {
    @include flex (flex, center, center);
}

.Estadio:hover {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    box-shadow: 0px 0px 15px 15px #ec731e;
    -webkit-box-shadow: 0px 0px 15px 15px #ec731e;
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
}

table {
    width: 100%;
    border: 2px solid black;
    background-color: blue;
    font-family: $font-principal;
    color: white;
    font-size: 1.25rem;
    text-align: center;
    table-layout: fixed;
    border-collapse: collapse;
}



.fixtureGrupos {
    text-align: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    font-family: $font-principal;
    font-size: sizes(parrafo);
    color: $color-primario;
    @include pantallas (sm) {font-size: 1.3rem;};
    @include pantallas (md) {font-size: 1.6rem;};}

.Octavos {
    text-align: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    font-family: $font-principal;
    font-size: sizes(parrafo);
    color: $color-primario;
    @include pantallas (sm) {font-size: 1.3rem;};
    @include pantallas (md) {font-size: 1.6rem;};
}

.Cuartos {
    text-align: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    font-family: $font-principal;
    font-size: sizes(parrafo);
    color: $color-primario;
    @include pantallas (sm) {font-size: 1.3rem;}
}

.Semifinal {
    text-align: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    font-family: $font-principal;
    font-size: sizes(parrafo);
    color: $color-primario;
    @include pantallas (sm) {font-size: 1.3rem;}
}

ul {
    list-style: none;
}

.form {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form input {
    width: 90%;
    height: 30px;
    margin: 0.5rem;
}

.form button {
    padding: 0.5em 1em;
    border: none;
    background: rgb(100, 200, 255);
    cursor: pointer;
}

.slide {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
} 
